.formInputCompact {
  width: 80px;
}

.formOperator {
  font-family: var(--ds-font-family);
  font-size: var(--ds-font-size-body-lg);
  font-weight: var(--ds-font-weight-regular);
  line-height: var(--ds-line-height-body);
  color: var(--ds-text-secondary);
}
